@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


#section01 {
  height: 3000px;
}
.trigger01 {
  height: 3000px;
}
.fix01 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg01.png);
}

#section01 .maintitle01 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%,0);
}

#section01 .maintitle01 ul {
  display: flex;
}

#section01 .maintitle01 li {
  display: flex;
}

#section01 .maintitle01 li+li {
  margin-left: 40px;
}

#section01 .maintitle01 .two {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

#section01 .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


#section02 {
  height: 1000px;
}

#section02 .words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#section03 {
  height: 1000px;
}

#section03 .website {
  position: absolute; 
  top: 100px;
  left: 100px;
}

#section03 .fontspace {
  position: absolute; 
  top: 900px;
  left: 1200px;
}

#section03 .various {
  position: absolute; 
  top: 1800px;
  left: 100px;
}

#section03 .comingsoon {
  position: absolute; 
  top: 2700px;
  left: 1200px;
}

/* mobile ver */
@media only screen and (max-width: 500px) {
  .boat {
    display: none;
  }

  .pc_ver{
    display: none;
  }

  .mobile_ver {
    display: block;
  }

  #smooth-content {
    overflow: visible;
    width: 100%;
    height: calc(800vh + 5000px);
    background: lightgrey;
  }

  #section04 {
    height: 5000px;
  }

  .trigger04 {
    height: 5000px;
  }

  .fix04 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
  }

  #section04 .title04 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
  }

  #section04 .title04 li {
    font-family: 'Roboto', sans-serif;
    font-size: 110px;
    line-height: 110px;
    color: rgb(0, 0, 236);
    display: flex;
  }

  #section04 .poster01 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
  }

  #section04 .poster02 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(20deg);
  }

  #section04 .poster03 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(30deg);
  }

  #section04 .poster04 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(40deg);
  }

  #section04 .poster05 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(50deg);
  }

  #section04 .poster06 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(60deg);
  }

  #section05 {
    height: 100vh;
    background-color: lightgrey;
  }

  #section05 .profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height: 280px;
  }
  
  #section05 .profile .bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 280px;
    background: rgb(255, 119, 0);
  }

  #section05 .profile.on .bg {
    width: 280px;
    transition: 1s;
  }

  #section05 .profile .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 280px;
    overflow: hidden;
  }

  #section05 .profile.on .img {
    width: 280px;
    transition: 1s;
    transition-delay: 1s;
  }


  #section05 .hellothere {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%,0);
  }

  #section06 {
    height: 100vh;
    background-color: lightgrey;

  }

  #section06 .project {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%) scale(60%);
    z-index: 100;
  }

  #section06 .project .selected {
    margin-bottom: 30px;
  }

  #section06 .project li+li {
    margin-top: 30px;
  }

  #section06 .round{
    width: 160vw;
    height: 160vw;
    position: absolute;
    top: calc(50% - 80vw);
    left: -70%;
    z-index: 1;
  }

  #section06 .circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background: blue;
  }

  #section06 .circleline {
    width: 160vw;
    height: 160vw;
    border-radius: 100%;
    border: 4px solid blue;
  }


  #section07 {
    height: 100vh;
    background-color: lightgrey;
  }

  #section07 .img07 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height: 280px;
  }
  
  #section07 .img07 .bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 280px;
    background: rgb(255, 119, 0);
  }

  #section07 .img07.on .bg {
    width: 280px;
    transition: 1s;
  }

  #section07 .img07 .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 280px;
    overflow: hidden;
  }

  #section07 .img07.on .img {
    width: 280px;
    transition: 1s;
    transition-delay: 1s;
  }

  #section07 .about {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%,0);
  }

  #section07 .aboutme  {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%) scale(80%);
  }

  #section08 {
    height: 100vh;
    background-color: lightgrey;
  }

  #section08 .star {
    position: absolute;
    top: 20px;
    left: 80px;
  }

  #section08 .brand {
   position: absolute;
   top: 180px;
   left: 50px;
   transform:scale(50%);
  }


 #section09 {
    height: 400vh;
  }
  .trigger09 {
    height: 400vh;
  }
  .fix09 {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  #section09 .contact {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
  }

  #section09 .contact ul {
    display: flex;
  }

  #section09 .contact li {
    height: 191px;
    overflow: hidden;
  }
  #section09 .contact li:nth-child(1) {
    width: 41px;
  }
  #section09 .contact li:nth-child(2) {
    width: 41px;
  }
  #section09 .contact li:nth-child(3) {
    width: 51px;
  }
  #section09 .contact li:nth-child(4) {
    width: 36px;
  }
  #section09 .contact li:nth-child(5) {
    width: 49px;
  }
  #section09 .contact li:nth-child(6) {
    width: 41px;
  }
  #section09 .contact li:nth-child(7) {
    width: 36px;
  }


  #section09 .email {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%,-50%) scale(80%);
    z-index: 100;
  }

  #section09 .video09 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    height: 100vh;
    width: 50vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #section09 .video09 video {
    transform: scale(80%);
  }

}

/* pc ver */
@media only screen and (min-width: 501px) {
  #smooth-content {
    /* overflow: visible; */
    width: 100%;
    height: 9000px;
    background: url(../img/bg02.png) bottom;
  }

  .mobile_ver {
    display: none;
  }

  .pc_ver {
    display: block;
  }

  .boat {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0) rotate(90deg);
    z-index: 500;
  }

}